	
	/********************************************************
	Mobile screens
	********************************************************/

html {
	width: 100%;
	height: auto;

}

body {
	width: 100%;
	margin: 0;
	padding: 0;
    background: rgba(237, 237, 237, 1);
    color: #767676;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body h1, h2, h3, h4, h5, h6 {
	color: #30373b;
	font-family: Arial;
}

body h1 {
	font-size: 30px;
	line-height: 44px;
}

	/****************************
	NAVIGATION
	****************************/

#nav {
	height: 40px;
	width: 100%;
	background-color: rgba(247, 247, 247, 0.9);
	position: fixed;
	top: 0;
/*	border: solid 1px red;
*/	z-index: 3;
	display: none;
}

	/****************************
	BUTTONS
	****************************/

.button {
	color: white;
	border: none;
	height: 40px;
	font-size: 16px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.small_button {
	width: auto;
	padding: 10px 20px;
}

.medium_button {
	width: 150px;

}

.large_button {
	width: 250px;
}

.xlarge_button {
	width: 290px;
}

.green_button {
	background-color: rgba(61, 219, 122, 1);
}

.blue_button {
	background-color: rgba(87, 143, 255, 1);
}

.orange_button {
	background-color: rgba(238, 136, 99, 1);
}

.grey_button {
	background-color: #343737;
}

.bluegrey_button {
	background-color: #566e8f;
}

.darkgreen_button {
	background-color: #85a281
}

.transparent_button {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

#buy_button {
}

#demo_button {
}

#header_button {
	text-transform: uppercase;
	font-size: 10px;
	-webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;	
}

#header_button img {
	width: 10px;
}

#header_button:hover {
	background-color: rgba(255, 255, 255, 0.33);
	font-weight: 400;
}

#go_to_order_link {
	text-decoration: none;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #888;
	font-weight: 300;
}

#go_to_order_link:hover {
	text-decoration: underline;
}

#go_to_order_link:visited {
	color: #888; 
	text-decoration: none;
}

	/****************************
	HEADER
	****************************/

.header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	margin: 0 auto 50px;
}

#landing_page_header {
	background-image: url(http://s29.postimg.org/8jqq82o4n/60_RZGXHD06.jpg);
}

.dark_opacity {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	z-index: 2;
}

#header_dark_opactiy {
	width: 100%;
	height: 100vh;
}

#header_big_text {
	height: auto;
	color: white;
	font-family: "Lato" Arial;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	font-weight: 100;
	position: relative;
	top: 60%;
	transform: translateY(-50%);
/*	border: 1px dashed white;
*/	
}

#header_big_text span {
	font-weight: 900;
}

#header_big_text p {
	width: 280px;
	font-size: 14px;
	font-weight: 200;
	line-height: 20px;
	margin: 0 auto -30px;
/*	border: 1px dashed white;	
*/}



	/****************************
	SECTIONS
	****************************/

.section_full_width {
	width: 100%;
	margin: 25px auto;
	text-align: center;
/*	border: 1px dashed lightgrey;
*/
}

.section, .icon_box {
	width: 90%;
	margin: 0 auto 50px;
	text-align: center;
/*	border: 1px dashed lightgrey;
*/
}

#icon_section {
	padding: 50px 0;
/*	border: 1px dashed grey;
*/
}

.icon_box {
	margin-bottom: 50px;
}

.icon_box h4 {
	font-family: Helvetica, Arial, sans-serif;
}

.icon_box p {
	text-align: left;
	max-width: 300px;
	margin: -10px auto 0;
	padding-left: 30px;
}

.section_small {
	width: 300px;
	margin: 0 auto 100px;
/*	border: 1px dashed lightgrey;
*/
}


	/****************************
	iMac
	****************************/

#new_imac_section {
	margin-bottom: 100px;
}

.new_imac_section_textbox {
	height: auto;
	width: 350px;
	margin: auto;
	text-align: left;
	display: inline-block;
/*	border: 1px dashed grey;
*/	vertical-align: top;
	padding: 10px;
}

.new_imac_section_textbox h3 {
	text-align: center;
}

.new_imac_section_textbox p {
	margin-left: 20px;
}

.new_imac_section_textbox_buttonbox {
	width: 100%;
	text-align: center;
	margin: 20px auto 20px;
}

.new_imac_section_textbox_buttonbox img {
	max-width: 270px;
	margin-top: -10px;

}

.imac_image {
	margin: auto;
/*	border: 1px dashed grey;
*/	display: inline-block;
	vertical-align: top;
}

.imac_image img {
	width: 80%;
}

#new_imac_section_textbox_desktop {
	display: none;
}



	/****************************
	Template section
	****************************/

.template_section {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.template_box {
	width: 320px;
	border: 10px solid #f7f7f7;
	height: auto;
	margin: 50px auto;
	box-shadow: -2px 4px 43px -11px #888888;
}

.template_box img {
	width: 100%;
	margin-bottom: 0;
}

.template_textbox {
	width: 100%;
	height: 200px;
	margin-top: -2px;
	padding-top: 20px;
	background-color: #f7f7f7;
	text-align: left;
/*	border: 1px solid #767676;
*/}

.template_textbox_description {
	width: 300px;
}

.template_textbox_price {
/*	border: 1px solid #767676;
*/	text-align: center;
	margin-top: 20px;
}

.template_textbox h3 {
	text-align: left;
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.template_textbox p {
	font-size: 14px;
	text-align: left;
	margin-left: 20px;
}

.template_section button {
    font-size: 12px;
}

#rainy_section {
	background-position: center top;
}

#jeansy_section {
	background-position: center 70%;
}

	/****************************
	OPACITY FILTERS
	****************************/

.opacity_filter {
	width: 320px;
    background-color: rgba(0,0,0,0.0);
    z-index: 2;
    position: absolute;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;	
}

#rainy_opacity {
	height: 376px;
}

#jeansy_opacity {
	height: 526px;
}

.opacity_filter:hover {
	background-color: rgba(0,0,0,0.1);
}

	/****************************
	TABLE
	****************************/

.pricing_table {
	background-color: rgba(242, 242, 242, 1);
	width: 350px;
	margin: 0 auto;
	border: none;
	line-height: 1.7em;
}

#table_header {
	width: 350px;
	margin: 0 auto;
	background-color: rgba(237, 237, 237, 1);
	padding: 5px 0 20px;
}

#table1 {
	margin: 0 auto 50px;
	padding-bottom: 10px;
}

.light_row {
	background-color: rgba(237, 237, 237, 1);
}

.icon_cell {
	width: 60px;
	text-align: right;
}

.text_cell {
	text-align: left;
	padding-left: 35px;
}

#price_info_box {
	font-size: 0.8em; 
	color: grey;
	text-align: left;
	width: 200px;
	margin: auto;
	padding-left: 75px ;
}

	/****************************
	CONTACT ME
	****************************/

#contact_me {
	margin-bottom: 0;
	text-align: center;
/*	border: 1px dashed grey;
*/
}

.contact_us_box {
/*	border: 1px dashed grey;
*/}
.contact_us_textbox {
	height: 80px;
	width: 80%;
	max-width: 320px;
	margin: auto;
	text-align: left;
/*	border: 1px dashed grey;
*/}

#contact_me_h1 {
	width: 80%;
	margin: 0px auto;
	padding-top: 25px;
	padding-bottom: 50px;
	line-height: 1.2em;
}

#contact_me h3 {
}

#contact_me button {
	text-align: center;
}

#phone_number {
}

#footer_dark_opactiy {
	height: 100%;
	width: 100%;
}

	/****************************
	FOOTER
	****************************/

footer {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #1b1d1d;
	text-align: center;
	line-height: 40px;
	font-size: 0.8em;
	margin: 0;
/*	border-top: 1px solid rgba(235, 235, 235, 1);
*/
}

footer a {
	text-align: center;
	margin: 0px 10px 5px;
	text-decoration: none;
	color: grey;
}

	/****************************
	THANK YOU PAGE
	****************************/

#thank_you_list {
	margin-left: 20%;
	text-align: left;
}

