	
	/********************************************************
	Mobile screens
	********************************************************/

html {
	width: 100%;
	height: auto;

}

body {
	width: 100%;
	margin: 0;
	padding: 0;
    background: rgba(237, 237, 237, 1);
    color: #888;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body h1, h2, h3, h4, h5, h6 {
	color: #595959;
}

body h1 {
	font-size: 40px;
	line-height: 44px;
}

	/****************************
	NAVIGATION
	****************************/

#nav {
	height: 40px;
	width: 100%;
	background-color: rgba(247, 247, 247, 0.9);
	position: fixed;
	top: 0;
	border: solid 1px red;
	z-index: 3;
	display: none;
}

#logo {
	height: 40px;
	width: 100px;
	color: black;
	border: dashed 1px black;
	display: inline-block;
	float: left;
}

	/****************************
	BUTTONS
	****************************/

.button {
	color: white;
	border: none;
	border-radius: 3px;
}

.small_button {
	width: auto;
	padding: 10px 20px;
	line-height: 12px;
	font-size: 12px;

}

.medium_button {
	width: 150px;
	height: 30px;
	font-size: 0.9em;
}

.large_button {
	width: 250px;
	height: 40px;
	font-size: 16px;
}

.green_button {
	background-color: rgba(61, 219, 122, 1);
}

.blue_button {
	background-color: rgba(87, 143, 255, 1);
}

.orange_button {
	background-color: rgba(238, 136, 99, 1);
}

#nav_button {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	line-height: 12px;
	font-size: 12px;
}

#buy_button {
	margin: 20px 0 5px;
}

#buy_premium_button {
	margin: 20px 0 5px;
}

#signup_button {
	width: 300px;
}

	/****************************
	HEADER
	****************************/

.header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	margin: 0 auto 100px;
}

#landing_page_header {
	background-image: url(http://s3.postimg.org/7tdru9agj/stockholm_848255.jpg);
}

#signup_page_header {
	background-image: url(http://s23.postimg.org/md5faohjf/sweden_996001.jpg);
}

#header_textbox {
	width: auto;
	border: 2px dashed white;
	position: relative;
	top: 50px;
	padding-bottom: 50px;
}

#header_textbox_text {
	max-width: 650px;
	border: 2px dashed blue;
	color: white;
	font-size: 9.5vh;
	line-height: 10vh;
	min-font-size: 40px;
	text-align: left;
	margin: 0 30px;
}

#header_textbox_text_signup {
	width: 90%;
	max-width: 1200px;
	border: 2px dashed blue;
	color: white;
	font-size: 9.5vh;
	line-height: 10vh;
	min-font-size: 40px;
	text-align: center;
	margin: 0 auto 30px;
}

#header_textbox_subtext {
	width: 85%;
	max-width: 500px;
	border: 2px dashed blue;
	color: white;
	text-align: left;
	margin-top: 20px;
	margin-left: 30px;
	line-height: 20px;
}

#header_textbox_subtext_signup {
	width: 80%;
	max-width: 570px;
/*	border: 2px dashed blue;
*/	color: #595959;
	text-align: center;
	margin: 20px auto;
	line-height: 20px;
	border-radius: 10px;
	padding: 10px 20px;
}

#top_textbox {
	width: 90%;
	max-width: 600px;	
	margin: 25px auto 0;
	border: 1px dashed grey;
}


#top_textbox_subtext {
	width: 90%;
	max-width: 600px;	
	text-align: left;
	margin: 0 auto;
	border: 1px dashed grey;
}

#top_textbox h1 {
	border: 1px dashed lightgrey;
	margin: 0;
}

.blue_text {
	color: blue;
}

.grey_text {
	color: #888;
}

	/****************************
	SECTIONS
	****************************/

.section_full_width {
	border: 1px dashed lightgrey;
	width: 100%;
	margin: 0 auto 100px;
	text-align: center;
}

.section, .icon_box {
	border: 1px dashed lightgrey;
	width: 90%;
	margin: 0 auto 100px;
	text-align: center;
}

.icon_box {
	margin-bottom: 50px;
}

.icon_box p {
	text-align: left;
	max-width: 300px;
	margin: auto;
	padding-left: 30px;
}

.section_small {
	border: 1px dashed lightgrey;
	width: 300px;
	margin: 0 auto 100px;
}

.section_top {
	background-color: rgba(240, 240, 240, 1);
	margin-top: 0;
	padding-bottom: 20px;
	text-align: left;
}

.section_small img {
	width: 300px;
	height: 246px;
	margin: 20px auto;
	position: relative;
	border: 1px dashed lightgrey;
}

	/****************************
	DIVS
	****************************/

.div_top_image {
	width: 80%;
	height: 300px;
	vertical-align: bottom;
	margin: 0 auto 10px;

}

.div_top_image_textbox {
	font-size: 22px;
	font-family: ;
	color: white;
	text-align: center;
	width: 90%;
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.div_about_us {
	width: 100%;
	max-width: 400px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	border: 1px lightgrey dashed;
	color: #595959;
}

.div_about_us_image {
	width: 100%;
	height: 300px;
	background-image: url("____");
	background-color: grey;
	background-size: cover;
	margin-bottom: 25px;
}

.about_us_box {
	border: 1px dashed lightgrey;
	width: 100%;
	margin: 0 auto 100px;
	text-align: center;
	margin-bottom: 50px;
}

.about_us_box p {
	text-align: left;
	max-width: 380px;
	margin: auto;
	padding-left: 30px;
}

	/****************************
	THREE STEP MODEL
	****************************/

#select_your_template {
	background-image: url("http://s1.postimg.org/say84vkkf/entrepreneur_593362_640.jpg");
	background-size: cover; 
}

#tell_us_about_business {
	background-image: url("http://s7.postimg.org/yn9ibbgcb/entrepreneur_593357_640.jpg");
	background-size: cover; 
}

#customers {
	background-image: url("http://s11.postimg.org/mnainzhwz/entrepreneur_593360_640.jpg");
	background-size: cover;
}

	/****************************
	TEMPLATE LINKS
	****************************/

.template {
	background-size: cover;
	width: 300px;
	height: 200px;
	margin: 50px auto;
}

.inner_box {
	width: 100%;
	height: 150px;
	border: white 1px dashed;
	padding-top: 60px;
}

.template button {
	margin: 20px 5px;
}

.template_name {
	width: 80%;
	height: auto;
	color: white;
	font-size: 30px;
	font-family: Times;
	border: white 1.5px solid;
	margin: 0 auto;
}

#template1 {
	background-image: url("http://s22.postimg.org/crsy7tb4x/website1.png");
}

#template2 {
	background-image: url("http://s4.postimg.org/587z2um1p/website2.png");
}

#template3 {
	background-image: url("http://s13.postimg.org/f8s2mq2fr/website3.png");
}

.black_opacity ,.black_opacity2{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.black_opacity ,.black_opacity2{
	padding-top: 0px; 
}

	/****************************
	DIVIDERS
	****************************/

.section_divider {
	height: 350px;
	border: 1px dashed lightgrey;
	width: 100%;
	margin: -50px auto 0;
	text-align: center;
}

.section_divider div {
	border: 1px dashed white;
	text-align: center;
}

.section_divider_textbox {
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 85%;
  	margin: auto;
  	padding-top: 0;
}

.section_divider_textbox h2 {
	color: white;
	font-size: 30px;
	margin-top: 0;

}

#we_do_everything_divider {
	background-image: url("http://s29.postimg.org/w3519lr6v/freelancer_763730_1920.jpg");
	background-size: cover;
}

#pricing_divider {
	background-image: url("http://s29.postimg.org/yq6i9ph3r/ux_787980.jpg");
	background-size: cover;
}

	/****************************
	ICONS
	****************************/

.icons {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#icon_geo {
	width: 100px;
	height: 117px;
	margin: 0 auto;
}

.icons_small {
	width: 16px;
	height: 16px;
}

.icons_large {
	width: 200px;
	height: 200px;
}

	/****************************
	INFO BOXES
	****************************/

.box {
	width: 360px;
	height: 240px;
	margin: 10px auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#box_website {
	background-image: url("http://s29.postimg.org/npde2kdaf/office_605503_1280.png");
}

#box_facebook {
	background-image: url('http://s1.postimg.org/9u6tvd1rh/facebook_76531.png');
}

#box_facebook_ad {
	background-image: url('http://s22.postimg.org/k4hx391vz/laptop_958239_1280.png');
}

.box_header {
	text-align: center;
	border: 1px dashed white;
}

.box_header h2 {
	color: white;
}

.box_textbox {
	color: white;
	width: 80%;
	margin: 0 auto;
	border: 1px dashed white;
}
	/****************************
	OPACITY FILTERS
	****************************/

.opacity_filter {
	width: 360px;
	height: 240px;
	z-index: 2;
}

#black_opacity_filter {
	background-color: rgba(57, 56, 77, 0.5);
}

#blue_opacity_filter {
	background-color: rgba(59, 88, 151, 0.5);
}

#white_opacity_filter {
	background-color: rgba(87, 143, 255, 0.5);
}

	/****************************
	TABLE
	****************************/

.pricing_table {
	background-color: rgba(242, 242, 242, 1);
	width: 350px;
	margin: 0 auto;
	border: none;
	line-height: 1.7em;
}

#table_header {
	width: 350px;
	margin: 0 auto;
	background-color: rgba(237, 237, 237, 1);
	padding: 5px 0 20px;
}

#table1 {
	margin: 0 auto 50px;
	padding-bottom: 10px;
}

.light_row {
	background-color: rgba(237, 237, 237, 1);
}

.icon_cell {
	width: 60px;
	text-align: right;
}

.text_cell {
	text-align: left;
	padding-left: 35px;
}

#price_info_box {
	font-size: 0.8em; 
	color: grey;
	text-align: right;
	width: 200px;
	margin: auto;
	padding-right: 20px;
}

	/****************************
	OTHER
	****************************/

	/****************************
	FOOTER
	****************************/

footer {
	position: relative;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgba(245, 245, 245, 1);
	text-align: center;
	line-height: 40px;
	font-size: 0.8em;
	border-top: 1px solid rgba(235, 235, 235, 1);
	margin: 50px 0 0;

}

footer a {
	text-align: center;
	margin: 0px 10px 5px;
	text-decoration: none;
	color: grey;
}


