	
	/********************************************************
	Mobile screens
	********************************************************/

html {
	width: 100%;
	height: auto;

}

body {
	width: 100%;
	margin: 0;
	padding: 0;
    background: rgba(237, 237, 237, 1);
    color: #888;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body h1, h2, h3, h4, h5, h6 {
	color: #595959;
}

body h1 {
	font-size: 30px;
	line-height: 44px;
}

	/****************************
	NAVIGATION
	****************************/

#nav {
	height: 40px;
	width: 100%;
	background-color: rgba(247, 247, 247, 0.9);
	position: fixed;
	top: 0;
/*	border: solid 1px red;
*/	z-index: 3;
	display: none;
}

	/****************************
	BUTTONS
	****************************/

.button {
	color: white;
	border: none;
	height: 40px;
	font-size: 16px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.small_button {
	width: auto;
	padding: 10px 20px;
}

.medium_button {
	width: 150px;

}

.large_button {
	width: 250px;
}

.xlarge_button {
	width: 250px;
}

.green_button {
	background-color: rgba(61, 219, 122, 1);
}

.blue_button {
	background-color: rgba(87, 143, 255, 1);
}

.orange_button {
	background-color: rgba(238, 136, 99, 1);
}

.grey_button {
	background-color: #595959;
	color: white;
}

#buy_button {
	margin: 20px 0 5px;
}

#buy_premium_button {
	margin: 20px 0 5px;
}

#signup_button {
	width: 300px;
}

#rainy_button {
	background-color: #34405A;
}

#jeansy_button {
	background-color: #8E9BBB;
}

#go_to_order_link {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
	font-size: 14px;
	width: 50%;
	margin-left: 15%;
	font-weight: 300;
	font-style: italic;
}

#go_to_order_link:visited {
	color: #888; 
	text-decoration: none;
}

	/****************************
	HEADER
	****************************/

.header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: left top;
	margin: 0 auto 100px;
}

#landing_page_header {
	background-image: url(http://s3.postimg.org/nh4rvlj8z/office_581131_1920.jpg);
}

.header_textbox {
	width: auto;
/*	border: 2px dashed white;
*/	position: relative;
	top: 50px;
	padding-bottom: 50px;
}

#header_textbox_text {
	max-width: 800px;
/*	border: 2px dashed blue;
*/	color: white;
	font-family: "Lato";
	font-size: 45px;
	font-weight: 600;
	line-height: 50px;
	text-align: left;
	margin: 0 30px;
}

#header_textbox_subtext {
	width: 85%;
	max-width: 450px;
	font-size: 18px;
	color: white;
	text-align: left;
	margin-top: 20px;
	margin-left: 30px;
	line-height: 20px;
}

#signup_page_box {
	width: 80%;
	max-width: 570px;
/*	border: 2px dashed blue;
*/	color: #595959;
	text-align: center;
	margin: 20px auto;
	line-height: 20px;
	border-radius: 10px;
	padding: 10px 20px;
}

#top_textbox {
	width: 90%;
	max-width: 600px;	
	margin: 25px auto 0;
/*	border: 1px dashed grey;
*/}



	/****************************
	SECTIONS
	****************************/

.section_full_width {
/*	border: 1px dashed lightgrey;
*/	width: 100%;
	margin: 0 auto 100px;
	text-align: center;
}

.section, .icon_box {
/*	border: 1px dashed lightgrey;
*/	width: 90%;
	margin: 0 auto 100px;
	text-align: center;
}

#icon_section {
	padding: 50px 0;
/*	border: 1px dashed grey;
*/}

.icon_box {
	margin-bottom: 50px;
}

.icon_box h4 {
	font-family: Helvetica, Arial, sans-serif;
}

.icon_box p {
	text-align: left;
	max-width: 300px;
	margin: -10px auto 0;
	padding-left: 30px;
}

.section_small {
/*	border: 1px dashed lightgrey;
*/	width: 300px;
	margin: 0 auto 100px;
}



	/****************************
	DIVS
	****************************/

#contact_me {
/*	border: 1px dashed grey;
*/	width: 320px;
	margin: 0 auto;
	text-align: left;
}

#contact_me_h1 {
	width: 80%;
	margin: 0 auto 30px;
	line-height: 1.2em;
}

#contact_me button {
	text-align: center;
}


	/****************************
	iMac
	****************************/

#imac {
	padding: 100px 0;
}

.imac_section {
/*	border: 1px dashed grey;
*/	width: 1150px;
	min-width: 400px;
	vertical-align: top;
	text-align: right;
	display: inline-block;
	margin-bottom: 100px;
}

.imac_section img {
	margin: auto;
/*	border: 1px dashed red;
*/}

.imac_section_textbox, .imac_section_imagebox {
/*	border: 1px dashed grey;
*/	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: left;

}

.imac_section_textbox {
	width: 380px;
	margin: 35px 0 0 0;
	padding-left: 50px;
	padding-right: 10px;
}

#phone {
	position: absolute;
	right: 0px;
	top: 150px;
}

#imac_section_right {
	text-align: left;
}

#imac_section_textbox_right {
	width: 400px;
}

.imac_section_textbox p {
	font-size: 18px;
	margin-top: -12px;
	margin-left: 5px;
}

.imac_section_textbox h2 {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 32px;
	font-weight: 500;
}

.imac_section_textbox img {
/*	border: 1px dashed grey;
*/}

.imac_section_imagebox {
	width: auto;
	min-width: 500px;
	text-align: center;
	height: 500px;
	padding: 0 50px;


}

	/****************************
	TEMPLATE LINKS
	****************************/

.black_opacity ,.black_opacity2{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.black_opacity ,.black_opacity2{
	padding-top: 0px; 
}

	/****************************
	DIVIDERS
	****************************/

.section_divider {
	height: 300px;
/*	border: 1px dashed lightgrey;
*/	width: 100%;
	margin: 100px auto ;
	text-align: center;
}

.section_divider div {
/*	border: 1px dashed white;
*/	text-align: center;
}

.section_divider_textbox {
	height: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 85%;
  	margin: auto;
  	padding-top: 0;
}

.section_divider_textbox h2 {
	color: white;
	font-size: 25px;
	margin-top: 0;
}

.section_divider_textbox h2 br {
	line-height: 180%;
}

#not_sure_contact_us {
	background-image: url("http://s29.postimg.org/w3519lr6v/freelancer_763730_1920.jpg");
	background-size: cover;
}

#pricing_divider {
	background-image: url("http://i.imgur.com/beVpdNh.jpg");
	background-size: cover;
}

	/****************************
	ICONS
	****************************/

.icons {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#icon_geo {
	width: 100px;
	height: 117px;
	margin: 0 auto;
}

.icons_small {
	width: 16px;
	height: 16px;
}

.icons_large {
	width: 200px;
	height: 200px;
}

	/****************************
	INFO BOXES (Not displayed at the moment)
	****************************/

.box {
	width: 360px;
	height: 240px;
	margin: 10px auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#boxes {
	display: inline-block;
	vertical-align: top;
}

#box_website {
	background-image: url(http://i.imgur.com/WwErja6.jpg);
}

#box_facebook {
	background-image: url(http://i.imgur.com/gvRrnJa.png);
}

#box_facebook_ad {
	background-image: url(http://i.imgur.com/rSePVK7.jpg);
}

.box_header {
	padding-top: 5px;
	text-align: left;
	margin-left: 18%;
}

.box_header h2 {
	color: white;
}

.box_textbox {
	color: white;
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 26px;
/*border: 1px dashed transparent;
*/}
	/****************************
	OPACITY FILTERS
	****************************/

.opacity_filter {
	width: 360px;
	height: 240px;
	z-index: 2;
}

#black_opacity_filter {
	background-color: rgba(57, 56, 77, 0.95);
}

#blue_opacity_filter {
	background-color: rgba(59, 88, 151, 0.95);
}

#white_opacity_filter {
	background-color: rgba(87, 143, 255, 0.95);
}

	/****************************
	TABLE
	****************************/

.pricing_table {
	background-color: rgba(242, 242, 242, 1);
	width: 350px;
	margin: 0 auto;
	border: none;
	line-height: 1.7em;
}

#table_header {
	width: 350px;
	margin: 0 auto;
	background-color: rgba(237, 237, 237, 1);
	padding: 5px 0 20px;
}

#table1 {
	margin: 0 auto 50px;
	padding-bottom: 10px;
}

.light_row {
	background-color: rgba(237, 237, 237, 1);
}

.icon_cell {
	width: 60px;
	text-align: right;
}

.text_cell {
	text-align: left;
	padding-left: 35px;
}

#price_info_box {
	font-size: 0.8em; 
	color: grey;
	text-align: left;
	width: 200px;
	margin: auto;
	padding-left: 75px ;
}

.contact_us_box {
	height: 200px;
	width: 350px;
	margin: 10px auto 0px;
	padding: 10px;
	vertical-align: top;
	border-radius: 5px;
}

.contact_us_textbox {
	height: 80px;
	width: 290px;
	margin: auto;
	text-align: left;
	padding-left: 10px;
/*	border: 1px solid grey;
*/}


	/****************************
	THANK YOU PAGE
	****************************/

#thank_you_list {
	margin-left: 20%;
	text-align: left;
}

	/****************************
	OTHER
	****************************/

	/****************************
	FOOTER
	****************************/

footer {
	position: relative;
	bottom: -100px;
	height: 40px;
	width: 100%;
	background-color: rgba(232, 232, 232, 1);
	text-align: center;
	line-height: 40px;
	font-size: 0.8em;
/*	border-top: 1px solid rgba(235, 235, 235, 1);
*/	margin: 0;

}

footer a {
	text-align: center;
	margin: 0px 10px 5px;
	text-decoration: none;
	color: grey;
}


